# MQTT Broker Configuration
MQTT_BROKER_URL=tcp://emqx:1883
MQTT_CLIENT_ID=oee-simulator

# Machine Configuration
# Comma-separated list of machine IDs to simulate
MACHINE_IDS=1,2,3

# Machine Behavior Settings
# Ideal time to make one part (in seconds)
IDEAL_CYCLE_TIME=3
# Percentage chance of a part being scrap (0.0 - 1.0)
SCRAP_RATE=0.05
# Percentage chance to go down after a cycle (0.0 - 1.0)
DOWNTIME_CHANCE=0.1
# Minimum downtime duration (in seconds)
DOWNTIME_MIN=10
# Maximum downtime duration (in seconds)
DOWNTIME_MAX=30

# Performance Loss Settings
# Percentage chance of a slow cycle (0.0 - 1.0)
PERFORMANCE_LOSS_CHANCE=0.20
# Maximum extra delay for a slow cycle (in seconds)
PERFORMANCE_LOSS_MAX_DELAY=2

### EMQX
EMQX_NAME=emqx
EMQX_HOST=127.0.0.1
EMQX_NODE__COOKIE=emqxsecretcookie

### TimescaleDB / PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=oee

# GOOSE
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/oee
GOOSE_MIGRATION_DIR=./timescaledb/migrations
GOOSE_TABLE=custom.goose_migrations

# Ingestion Service
PG_HOST=timescaledb
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=oee
